.navbar{
  position: fixed;
  z-index: 3;
}
.navbar-brand{
  font-size: xx-large;
  font-style: italic;
  font-weight:strong;
  color:whitesmoke;
}
.movies{
  position: relative;
  top: 50px;
}
.bg-light{
  background-color: silver!important;
}
.movie{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
.movieimg{
  width: 33%;
  display: flex;
  flex-direction: column;

}
.img{
  height: 400px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px;
  margin-bottom: 20px;
}
.moviedetail{
  position: relative;
  top: 60px;
  width: 60%;
  height: 50%;
  justify-content: center;
  margin-top: 20px;
}
.card-img-top{
  height: 400px;
}
a{
  text-decoration: none;
}
